@charset "UTF-8";


        
        
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredericka+the+Great&family=Kaushan+Script&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf);
    format('opentype');
    font-weight: 'normal';
    font-style: 'normal';
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #84E1AD;
    
}
header{
    background-image: linear-gradient(to bottom, #84E1AD, #1B5936 60%);
    margin: -8px;
    color: white;
    text-align: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.507);
    padding: 1px;
    min-height: 150px;

}
nav{
    background-color: #1B5936;
    color: white;
    text-align: justify;
    padding: 10px;
    margin-left: -8px;
    margin-right: -8px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.419);
    
}
nav > a{
    text-decoration: none;
    color: white;
    transition-duration: 0.5s;
    margin-left: 20px;
    padding: 10px;
}
nav > a:hover{
    background-color: #84E1AD;
    
}
main{
    background-color: white;
    text-align: justify;
    padding: 1px 15px 3px 15px;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.389);
    min-width: 300px;
    max-width: 1000px;
}
p{
    text-indent: 2em;
}
h1{
    font-size: 3em;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.504);
    color: white;
    margin-bottom: 20px;
    
}
#principal{
    font-family: 'idroid', sans-serif;
    color: #1B5936;
    font-size: 2em;
    text-shadow: none;
    
}
h2{
    font-family: 'idroid', sans-serif;
    color: #1B5936;
    background-image: linear-gradient(to right, #84E1AD, transparent);
    padding: 1px 10px;
}
strong{
    color: #1B5936;
    font-weight: bolder;
}
h3{
    background-color: #2FA866;
    padding: 5px 10px 5px 10px;
    color: white;
    border-radius: 10px 10px 0px 0px;
}
aside{
    background-color: rgba(145, 211, 169, 0.808);
    padding: 0px 0px 10px 0px;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.408);

}
aside > p{
    margin: 10px;
}
a{
    color: #1B5936;
    text-decoration: none;
    font-weight: bold;
    
}
a:hover{
    text-decoration: underline;
}
.especial::after{
    content: 'â˜';
}
footer{
    background-color: #1B5936;
    text-align: center;
    color: white;
    padding: 3px;
    margin: 15px -8px -8px -8px;
    font-style: italic;
}
footer > p{
    margin: 0px;
    font-size: 0.8em;
}

div{
    background-color: #1B5936;
    padding: 20px;
    margin-left: -15px;
    margin-right: -15px;
}
header > p{
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.501);
    margin-top: 0px;
}

main > img{
    width: 100%;
}

aside > ul{
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
}
    